@import-normalize;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

body {
  background-color: #f9fff5;
  color: #23212c;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

h1 {
  margin: 0; /* prevent "0.67em 0" from normalize.css */
  font-size: 27px;
}

h2 {
  font-size: 21px;
}

a {
  text-decoration: solid;
}

a:hover {
  filter: brightness(70%);
}

button {
  cursor: pointer;
  border: 0;
  font: inherit; /* chrome */
}
